* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --colorRed: hsl(356, 75%, 51%);
    --colorRedSoft: hsl(356, 72%, 52%);
    --colorBlue: hsl(214, 83%, 34%);
    --colorBlueSoft: hsl(214, 73%, 36%);
    --colorWhite: hsl(0, 0%, 98%);
    --colorBlack: hsl(0, 0%, 9%);
    --fontPrincipal: 'Open Sans', sans-serif; /*300 400 500 700*/
}

body {
    font-family: var(--fontPrincipal);
}

/* Navigation */
nav {    
    padding: 1.5rem 1rem;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    margin: 0 0.6rem;
    color: var(--colorWhite);
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.4s;
    border-bottom: 1.5px solid transparent;
}

nav ul li a:hover {
    color: var(--colorRed);
    transition: 0.4s;
    border-bottom: 1.5px solid var(--colorRed);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18%;
    background-image: url(../images/player/Griezmann3Edit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: var(--colorRed);
}

header p {
    font-size: 2rem;
    padding: 0.2rem;
    margin: 1rem 0;
    background-color: var(--colorRed);
    color: var(--colorWhite);
}
/* Profile */

.sectionProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    margin: 0 15%;
}

.sectionProfile .profileLeft{
    display: flex;
}

.sectionProfile .profileLeft h2 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileLeft img {
    width: 34rem;
    margin: 0 8rem 0 0;
}

.sectionProfile .profileRight {
    display: grid;
}

.sectionProfile .profileRight .rightDatesOne  {
    display: flex;
    gap: 4rem;
}

.sectionProfile .profileRight .rightDatesOne h2 {
    /* display: inline-block; */
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.6rem;
    padding: 0 1rem;
    margin: 0 0 0.4rem 0;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileRight .rightDatesOne p {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.sectionProfile .profileRight .centerDates {
    width: 30rem;
}

.sectionProfile .profileRight .centerDates p {
    font-size: 1.2rem;
    margin: 2.5rem 0;
}

.sectionProfile .profileRight .rightDatesTwo h2 {
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.4rem;
    padding: 0 1rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileRight .rightDatesTwo ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1rem;
    margin: 0.8rem 0;
    color: gray;
}

.sectionProfile .profileRight .rightDatesTwo ul li p{
    color: var(--colorBlack);
}