* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --colorRed: hsl(356, 75%, 51%);
    --colorRedSoft: hsl(356, 72%, 52%);
    --colorBlue: hsl(214, 83%, 34%);
    --colorBlueSoft: hsl(214, 73%, 36%);
    --colorWhite: hsl(0, 0%, 98%);
    --colorBlack: hsl(0, 0%, 9%);
    --fontPrincipal: 'Open Sans', sans-serif; /*300 400 500 700*/
}

body {
    font-family: var(--fontPrincipal);
}

/* Navigation */
nav {    
    padding: 1.5rem 1rem;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    margin: 0 0.6rem;
    color: var(--colorWhite);
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.4s;
    border-bottom: 1.5px solid transparent;
}

nav ul li a:hover {
    color: var(--colorRed);
    transition: 0.4s;
    border-bottom: 1.5px solid var(--colorRed);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18%;
    background-image: url(../images/player/Griezmann3Edit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: var(--colorRed);
}

header p {
    font-size: 2rem;
    padding: 0.2rem;
    margin: 1rem 0;
    background-color: var(--colorRed);
    color: var(--colorWhite);
}
/* Profile */

.sectionProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    margin: 0 22rem;
}

.sectionProfile .profileLeft{
    display: flex;
}

.sectionProfile .profileLeft h2 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileLeft img {
    width: 34rem;
    margin: 0 8rem 0 0;
}

.sectionProfile .profileRight {
    display: grid;
}

.sectionProfile .profileRight .rightDatesOne  {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.sectionProfile .profileRight .rightDatesOne h2 {
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.6rem;
    padding: 0 1rem;
    margin: 0 0 0.4rem 0;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileRight .rightDatesOne p {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.sectionProfile .profileRight .centerDates {
    width: 90%;
}

.sectionProfile .profileRight .centerDates p {
    font-size: 1.2rem;
    margin: 2rem 0;
    /* width: 96%; */

}

.sectionProfile .profileRight .centerDates span {
    color: gray;
    /* color: var(--colorRed); */
}

.sectionProfile .profileRight .rightDatesTwo h2 {
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.4rem;
    padding: 0 1rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.2rem;
}

.sectionProfile .profileRight .rightDatesTwo ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1rem;
    margin: 0.8rem 0;
    color: gray;
}

.sectionProfile .profileRight .rightDatesTwo ul li p{
    color: var(--colorBlack);
    font-weight: 600;
}

/* Stats */

.statsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    padding: 6rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.statsSection h2 {
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.4rem;
    padding: 0 1rem;
    letter-spacing: 0.2rem;
}

.statsSection .statsDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;    
}


.statsSection div {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statsSection div h3 {
    font-size: 1.2rem;
    color: gray;
    font-weight: 500;
    margin: 0.2rem 0;
}

.statsSection div p {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.2rem;
}

/* Life */

.sectionGames, .sectionFamily {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}

.sectionGames .gamesLeft, .sectionFamily .familyLeft {
    margin: 0 4rem;
}

.sectionGames .gamesLeft img, .sectionFamily .familyLeft img{
    width: 32rem;
}

.sectionGames .gamesRight h2,  .sectionFamily .familyRight h2{
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.4rem;
    /* padding: 1.6rem 0; */
    padding: 0 1rem;
    letter-spacing: 0.2rem;
}

.sectionGames .gamesRight p, .sectionFamily .familyRight p {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 26rem;
    margin: 1rem 0;
}

/* Trofeos */
.trofeosSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 6rem 0;
    margin: 6rem 0;
}

.trofeosSection h2 {
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.4rem;
    padding: 0 1rem;
    letter-spacing: 0.2rem;
}

.trofeosSection .trofeosDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;    
}

.trofeosSection div {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trofeosSection span {
    font-size: 1.1rem;
    margin: 0.2rem;
    color: gray;
}

/* Social media */

.sectionSocialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem 0;
}

.sectionSocialMedia h2 {
    display: inline-block;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 1.6rem;
    padding: 0 1rem;
    margin: 4rem;
    letter-spacing: 0.2rem;
}

.sectionSocialMedia div a {
    margin: 0 2rem;
    text-decoration: none;
    color: var(--colorBlack);
    /* color: var(--colorWhite); */
    font-size: 1.4rem;
    transition: 0.6s;
}

.sectionSocialMedia div a:hover {
    color: var(--colorRed);
    transition: 0.6s;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

footer p {
    font-size: 1.1rem;
}